.options {
    display: flex;
}

.options canvas {
    align-self: center;
    margin-left: 20px;
}

div {
    font-size: 1.5em;
}

#na {
    display: flex;

}

#na p{
    margin: 0;
    margin-left: 20px;
}

#sa {
    display: flex;
}

#sa p {
    margin: 0;
    margin-left: 20px;
}